<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dead man's switch admin web gui">
    <meta name="author" content="Stefan Midjich">
    <title>{% block title %}{% endblock %} - Dead Man's Switch</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('admin.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('admin.static', filename='css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('admin.static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin">Dead Man's Switch</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link" href="/admin/token">
                  <span data-feather="key"></span>
                  User tokens
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/report">
                  <span data-feather="file-text"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/client">
                  <span data-feather="users"></span>
                  Clients
                </a>
              </li>

            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

          {% block content %}{% endblock %}

          <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
            <div class="toast" style="position: absolute; top: 0; right: 0;">
              <div class="toast-header">
                <strong class="mr-auto" id="toastHeader">Toast</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body" id="toastBody">
                Hello, toast.
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>

    <!-- Javascript here -->
    <script src="{{ url_for('admin.static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/feather.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/admin.js') }}"></script>

</html>
