{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% block title %}Clients{% endblock %}</h1>
</div>

<div class="table-responsive">
  <table id="clients" class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Client ID</th>
        <th>Last updated</th>
        <th>Token</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}
