{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% block title %}Reports{% endblock %}</h1>
</div>

<div class="table-responsive">

  <p>This refreshes every 5 seconds</p>

  <table id="reports" class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Report ID</th>
        <th>Token</th>
        <th>Last updated</th>
      </tr>
    </thead>
  </table>

</div>
{% endblock %}
