{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% block title %}Report{% endblock %} "{{ report_id }}"</h1>
</div>

{% endblock %}
