{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% block title %}User Token{% endblock %} "{{ token_data.name | default(token_id) }}"</h1>
</div>

<form id="tokenForm">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" value="{{ token_data.name }}" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputToken" class="col-sm-2 col-form-label">Token ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputToken" value="{{ token_id }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputCreated" class="col-sm-2 col-form-label">Created</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCreated" value="{{ token_data.created }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputJWT" class="col-sm-2 col-form-label">JWT token</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputJWT" value="{{ token_data.jwt_token }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPeriod" class="col-sm-2 col-form-label">Reporting period</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPeriod" value="{{ token_data.period }}" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputValid" class="col-sm-2 col-form-label">Days valid</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputValid" value="{{ token_data.expiration_days }}" max="720" min="1">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPushoverUserkey" class="col-sm-2 col-form-label">Pushover user key</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPushoverUserkey" value="{{ token_data.pushover_userkey }}" placeholder="Pushover User key">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPushoverApptoken" class="col-sm-2 col-form-label">Pushover app token</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPushoverApptoken" value="{{ token_data.pushover_token }}" placeholder="Pushover App token">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputAlertFormat" class="col-sm-2 col-form-label">Alert format</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputAlertFormat">{{ token_data.alert_format }}</textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" disabled>Update</button>
      <button type="button" class="btn btn-danger" id="deleteToken">Delete</button>
    </div>
  </div>
</form>
{% endblock %}
