{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{% block title %}User Tokens{% endblock %}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#tokenModal">
        Create token
        <span data-feather="plus"></span>
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary" id="refreshTokens">
        Refresh
        <span data-feather="refresh-cw"></span>
      </button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm display" id="tokens">
    <thead>
      <tr>
        <th>Name</th>
        <th>Token ID</th>
        <th>Created</th>
      </tr>
    </thead>
  </table>
</div>

<div class="modal fade" id="tokenModal" tabindex="-1" role="dialog" aria-labelledby="tokenModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New token</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="createTokenForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="inputName" class="col-form-label">Name*</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name is required" required>
            <small id="inputNameHelp" class="form-text">A name is required</small>
          </div>

          <div class="form-group">
            <label for="inputPeriod">Report period</label>
            <select class="form-control" id="inputPeriod">
              <option>1m</option>
              <option>2m</option>
              <option>5m</option>
              <option>10m</option>
            </select>
            <small id="periodHelp" class="form-text">How often the dead man's switch should be updated</small>
          </div>

          <div class="form-group">
            <label for="inputValid" class="col-form-label">Days valid</label>
            <input type="number" class="form-control" id="inputValid" value="365" max="720" min="1">
          </div>

          <div class="form-group">
            <label for="inputAlertFormat" class="col-form-label">Alert format</label>
            <textarea class="form-control" id="inputAlertFormat" placeholder="Dead man's switch stopped firing!"></textarea>
            <small id="alertFormatHelp" class="form-text">Use {report_id} to insert the report ID.</small>
          </div>

          <div class="form-group">
            <label for="inputPushoverUserkey" class="col-form-label">Pushover user key</label>
            <input type="text" class="form-control" id="inputPushoverUserkey" placeholder="Generate one in the Pushover.net API">
          </div>

          <div class="form-group">
            <label for="inputPushoverApitoken" class="col-form-label">Pushover app token</label>
            <input type="text" class="form-control" id="inputPushoverApitoken" placeholder="Generate one in the Pushover.net API">
          </div>
        </div>

        <div class="modal-footer">
          <p><small class="form-text">Fields marked with <strong>*</strong> are mandatory</small></p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="createToken" type="submit" class="btn btn-primary">Create token</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
